legacy-peer-deps=true

# npm-adobe-release
registry=https://artifactory-uw2.adobeitc.com/artifactory/api/npm/npmjs-remote/
@adobe:registry=https://artifactory-uw2.adobeitc.com/artifactory/api/npm/npmjs-remote/