name: publish-latest

on:
    push:
        tags:
            - "v*"

jobs:
    publish-latest:
        name: publish-latest
        runs-on: ubuntu-18.04
        steps:
            - name: checkout
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0
                  ref: ${{ github.ref }}
            - name: node
              uses: actions/setup-node@v2
              with:
                  node-version: 14
                  registry-url: https://registry.npmjs.org/
            - name: install
              run: npm ci
            - name: build
              run: npm run build:prod
            - name: publish
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.ADOBE_BOT_NPM_TOKEN }}
